body {
    background-image: linear-gradient(rgb(0, 0, 65), rgb(10, 39, 63));
    background-attachment: fixed;
}

#header {
    color: white;
    text-align: center;
    padding-bottom: 3em;
    padding-top: 2em;
}


#displayed {
    
    padding-top: 2em;
}
#optionsDisplay {
    text-align: center;
   
    
}
#displaySelection {
    text-align: center;
}

#clearBtn {
    float: right;
}

.jumbotron {
    min-height: 600px;
    
}