body {
    background-image: linear-gradient(rgb(0, 0, 65), rgb(50, 95, 124));
    background-attachment: fixed;
}

#header {
    color: white;
    text-align: center;
    padding-bottom: 3em;
    padding-top: 2em;
    
}


#displayed {
    
    padding-top: 2em;
}
#optionsDisplay {
    text-align: center;
}

#displaySelection {
    text-align: center;
}

#clearBtn {
    float: right;
}

#intro {
    color: white;
    padding: 2em 3em 2em;
    text-align: center;
}



#gitLink{
    font-size: 25px;
}

#enjoyText {
    text-align: center;

}

.footer {
    color: white;
    text-align: center; 
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}